*~
*.DS_Store
*.class
*java#
*.settings
local.properties
.arc/
bin/
gen/
out/
facebook/doc/
facebook/lint.xml
facebook/tests/lint.xml
facebook/tests/assets/config.json
.idea/workspace.xml
.idea/dictionaries/
.idea/inspectionProfiles/
build
*.iml
*com_crashlytics_local_strings.xml
*com_crashlytics_export_strings.xml
*crashlytics-build.properties
.gradle/

